<ul class="pager">
  <li class="previous">
    <a href="#">&larr; Older</a>
  </li>
  <li class="next">
    <a href="#">Newer &rarr;</a>
  </li>
</ul>
<div class="page-header">
  <h1><%= @episode.name %> <small></small></h1>
  <div class="display_inline">
    <%= render :partial => 'user_seen_episodes/create_form', :locals => {:episode => @episode} %>
  </div>
  <div class="display_inline">
    <%= button_to "Download", episode_download_episode_path(@episode),
      :form_class => '',
      :class => 'btn btn-mini',
      :disable_with => 'loading...',
      :remote => true %>
  </div>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_episode_path(@episode), :class => 'btn btn-mini' %>
</div>
<div id="video_content">
  <%= render 'display_video' %>
</div>