<%= form_for @show, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :url, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            show_path(@show),
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-danger' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                shows_path, :class => 'btn' %>
  </div>
<% end %>
