<%- model_class = Show -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<ul class="media-list">
  <% @shows.each do |show| %>
    <li class="media well">
      <a class="pull-left" href="<%= show_path(show) %>">
        <img class="img-polaroid" src="http://static.nwanime.com/tmp/chimg/2763.jpg">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><%= link_to show.name, show_path(show) %></h4>
        <p><%= link_to show.url %></p>
      </div>
      <div class="pull-right badge"><%= show.episodes.count %></div>
      <div><%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_show_path(show), :class => 'btn btn-mini' %></div>
    </li>

  <% end %>
</ul>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_show_path,
            :class => 'btn btn-primary' %>
